.notion-topbar {display: none;}
:root .width {	width: 1280px !important;}:root .padding{	padding-left: 0 !important;  padding-right: 0 !important;}
.page_cover {    display: none !important;}.notion-frame>.notion-scroller {    padding-top: 200px;}